<%- include("partials/header.ejs") %>
<div class="max-w-md mx-auto">
    <h2 class="text-2xl font-semibold mb-4" x-text="<%= isAdmin ? 'Admin Login' : 'Player Login' %>"></h2>
   
    <!-- Login Form -->
    <form action="<%= isAdmin ? '/api/admin/login' : '/api/login' %>" method="post" class="space-y-4">      
        <div class="space-y-2">
            <div class="flex items-center">
                <i class="ri-user-line mr-2"></i>
                <input 
                    type="<%= isAdmin ? 'text' : 'email' %>" 
                    class="input w-full border-white-500 focus:border-red-500 focus:ring-red-500 focus:ring-2 focus:outline-none"
                    name="<%= isAdmin ? 'username' : 'email' %>" 
                    placeholder="<%= isAdmin ? 'Username' : 'Email Address' %>" 
                    required 
                    autofocus />
            </div>
            <div class="flex items-center">
                <i class="ri-lock-line mr-2"></i>
                <input 
                    type="<%= isAdmin ? 'password' : 'text' %>" 
                    class="input w-full hover:border-red-500 focus:border-red-500 focus:ring-red-500 focus:ring-2 focus:outline-none"
                    name="<%= isAdmin ? 'password' : 'name' %>" 
                    placeholder="<%= isAdmin ? 'Password' : 'Full Name' %>" 
                    required />
            </div>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="rememberMe" name="rememberMe" class="mr-2 hover:border-red-500" />
            <label for="rememberMe">Remember me</label>
        </div>
        <button class="btn w-full flex items-center justify-center" type="submit">
            <i class="ri-login-box-line mr-2"></i>
            Login
        </button>
    </form>
<%- include("partials/footer.ejs") %>